#joc-vid {
    width: 800px;
    top: 40%;
}

#jocDeliv2 img{
    width: 500px;
    border:1px solid #000000;
    vertical-align:middle;
}

#jocText {
    background-color:white;
    overflow-y:scroll;
    font-size: 30px;
    height:600px;
    padding: 20px;
    border-radius:10px;
}

