
/*NAVBAR CSS*/

body {
    margin: 0;
    padding: 0;
    font-family:arial;
}

#globeModel {
    z-index:1;
    position: absolute;
    left: 0;
    width: 100vw;
}

#navBar header {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    overflow: hidden;

    background-color:rgb(51, 58, 136);
    color: white;

    display: flex;

}

#navBar a {
    text-decoration: none;
    color: white;
}

#navBar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#navBar .logo-image {
    width: 20px;
    height:20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#navBar .nav {
    margin:0;
    padding:0;
    font-weight:bold;
}

#navBar .nav > ul {
    margin: 0;
    padding: 0;
    line-height:48px;

    list-style-type:none;
}

#navBar .nav > ul > li {
    padding: 0 1em;
    display: inline-block;
}

#navBar .nav > ul > li:hover {
    background-color: #1763ff;
}
#navBar .space{
    flex-grow:1;
}


/* buttons */

#button-container {
    left:50%;
    transform: translateX(-50%);
    top: 85%;
    width: 600px;
    height: 80px;
    position: fixed;
    z-index: 12;
    justify-content: center;

    
}

#conical {
    z-index:12;
    background-color: white;
    position: absolute;
    right:0;
     width: 190px;
     height: 20px;
    text-align:center;
    border-radius: 30px;

}

#cylindrical {
    z-index:12;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 190px;
    height: 20px;
    text-align:center;
      border-radius: 30px;

}

#none {
    z-index:12;
    background-color: white;
    position: fixed;
    left: 0;
    z-index: 100;
    width: 190px;
    height: 20px;
    text-align:center;
      border-radius: 30px;
  

}



/* projection explanations */
#cylExp {
    font-family:arial;
    background-color: white;
    position: absolute;
    left:60%;
    top: 15%;
    width:350px;
    height:400px;
    z-index:20;
    padding:20px;
    border-radius:5px;
    content-visibility: false;
    display: none;
    
}


#conicalExp {
    font-family:arial;
    background-color: white;
    position: absolute;
    left:60%;
    top: 15%;
    width:350px;
    height:400px;
    z-index:20;
    padding:20px;
    border-radius:5px;
    content-visibility: false;
    display: none;
   
}

figure {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

#conProjImg{
   width: 250px;

    display:block;
    margin-left: auto;
    margin-right: auto;
}

#cylProjImg {
    width:170px;

    display:block;
    margin-left: auto;
    margin-right: auto;
}

/* text */

#openTitle {

    position: fixed;
    color:white;
    z-index: 2000;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
}

#openTitleSub {

    position: fixed;
    color:rgb(150, 156, 186);
    z-index: 2000;
    top: 16%;
    left: 50%;
    transform: translateX(-50%);
}

#explanation {
    position:fixed;
    z-index: 2006;
    color: white;
    top: 30%;
    left: 70%;
    right: 10%;
}

/*projects navbar*/

#projectsNavbar {
    position:fixed;
    color: white;
    z-index: 2005;
    font-size: 14px;
    display: flex;
    top: 25%;
    left:17%;
}


#projectsNavbar li {
    padding: 5px;
     list-style-type:none;
       border-radius: 10px;
  
}

#projectsNavbar li {
    margin : 1em;
}

#projectsNavbar li:hover {
   
   filter: grayscale(50%) brightness(500%);
 
}

#projectsNavbar #project1 {
    background-color: red;
}

#projectsNavbar li:hover{
    background-color:white;
}

#projectsNavbar #project2 {
    background-color: orange;
}
#projectsNavbar #project3 {
    background-color: yellow;
}
#projectsNavbar #project4 {
    background-color: green;
}
#projectsNavbar #project5 {
    background-color: blue;
}
#projectsNavbar #project6 {
    background-color: purple;
}


/* projects */

#halfpPopup {

    position: fixed;

    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 500px;
    z-index: 4000;

    background: white;
    display: none;
    padding: 10px;
    border-radius:10px;

    justify-content:center;
    text-align: center;
}

#halfpPopup #glacier #slides img{
    width: 400px;
}

#halfpPopup #glacier #slides{
   justify-content:center
}

#closeButtonAF {
    width: 20px;
    float: right;
}

/* point lables */
.point-label {
    position: absolute;
    color: white;
    font-size: 12px;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 2000;
}

/* Jocelyn project */

#joc-vid {
    width: 500px;
}

#jocDeliv2 img{
    width: 500px;
}


#closeButtonAF {
    width: 20px;
    float: right;
}

/* mena */

#menaImg img{

    width:300px;
}
